<?xml version="1.0"?>
<!--
/** MpEbaymagentoconnect module xml
 * @category  Webkul
 * @package   Webkul_MpEbaymagentoconnect
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="webkul" translate="label" sortOrder="10">
            <label>Webkul</label>
        </tab>
        <section id="mpebaymagentoconnect" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>eBay Magento Connect</label>
            <tab>webkul</tab>
            <resource>Webkul_MpEbaymagentoconnect::config_mpebaymagentoconnect</resource>
            <group id="general_settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="attribute" translate="label comment" sortOrder="1" type="select" showInDefault="1" >
                    <label>Attribute Set ID</label>
                    <source_model>Magento\Catalog\Model\Product\AttributeSet\Options</source_model>
                </field>
                <field id="glob_site" translate="label comment" sortOrder="2" type="select" showInDefault="1" >
                    <label>Global Sites</label>
                    <source_model>Webkul\MpEbaymagentoconnect\Model\Config\Source\EbayGlobalSitesList</source_model>
                </field>
                <field id="ebay_user_id" translate="label comment" sortOrder="3" type="text" showInDefault="1" >
                    <label>eBay User Id</label>
                    <validate>required-entry</validate>
                </field>
                <field id="ebay_user_token" translate="label comment" sortOrder="4" type="text" showInDefault="1" >
                    <label>eBay Authentication Token</label>
                    <validate>required-entry</validate>
                </field>
                <field id="ebay_dev_id" translate="label comment" sortOrder="5" type="text" showInDefault="1" >
                    <label>eBay Developer Token</label>
                    <validate>required-entry</validate>
                </field>
                <field id="ebay_application_id" translate="label comment" sortOrder="6" type="text" showInDefault="1" >
                    <label>eBay Application Id</label>
                    <validate>required-entry</validate>
                </field>
                <field id="ebay_certification_id" translate="label comment" sortOrder="7" type="text" showInDefault="1" >
                    <label>eBay Certification Id</label>
                    <validate>required-entry</validate>
                </field>
                <field id="mode" translate="label comment" sortOrder="8" type="select" showInDefault="1" >
                    <label>Mode</label>
                    <source_model>Webkul\MpEbaymagentoconnect\Model\Config\Source\Mode</source_model>
                    <validate>required-entry</validate>
                </field>
                 <field id="postal_code" translate="label comment" sortOrder="9" type="text" showInDefault="1" >
                    <label>Shop's Postal Code</label>
                    <validate>required-entry</validate>
                </field>
            </group>
            <group id="categoty_options" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Import eBay Categories</label>
                <field id="listbutton" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Webkul\MpEbaymagentoconnect\Block\System\Config\Form\GetEbayCategories</frontend_model>
                </field>
            </group>
            <group id="returns_policy_options" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Returns Policy</label>
                <field id="define" translate="label comment" type="select" sortOrder="2" showInDefault="1" >
                    <label>Define Return Policy</label>
                    <source_model>Webkul\MpEbaymagentoconnect\Model\Config\Source\ReturnPolicyList</source_model>
                    <validate>required-entry</validate>
                </field>
                <field id="return_days" translate="label comment" type="select" sortOrder="3" showInDefault="1" >
                    <label>Returns within</label>
                    <source_model>Webkul\MpEbaymagentoconnect\Model\Config\Source\ReturnDaysList</source_model>
                    <validate>required-entry</validate>
                </field>
                <field id="pay_by" translate="label comment" type="select" sortOrder="4" showInDefault="1" >
                    <label>Pay By</label>
                    <source_model>Webkul\MpEbaymagentoconnect\Model\Config\Source\PayBy</source_model>
                    <validate>required-entry</validate>
                </field>
                <field id="other_info" translate="label comment" type="textarea" sortOrder="5" showInDefault="1" >
                    <label>Other Information</label>
                </field>
            </group>
            <group id="listing_options" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Listing Options</label>
                <field id="duration" translate="label comment" type="select" sortOrder="2" showInDefault="1" >
                    <label>Listing Duration</label>
                    <source_model>Webkul\MpEbaymagentoconnect\Model\Config\Source\ListingDuration</source_model>
                    <validate>required-entry</validate>
                </field>
            </group>
            <group id="dispatch_options" translate="label" type="text" sortOrder="5" showInDefault="1" >
                <label>Dispatch Options</label>
                <field id="time" translate="label comment" type="select" sortOrder="2" showInDefault="1" >
                    <label>Dispatch Time</label>
                    <source_model>Webkul\MpEbaymagentoconnect\Model\Config\Source\DispatchTime</source_model>
                    <validate>required-entry</validate>
                </field>
            </group>
            <group id="payment_options" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Payment Options</label>
                <field id="paypal_id" translate="label comment" sortOrder="1" type="text" showInDefault="1" >
                    <label>Paypal Email Address</label>
                    <validate>required-entry validate-email</validate>
                </field>
                <field id="default_category" translate="label comment" type="select" sortOrder="2" showInDefault="1" >
                    <label>Default Category</label>
                    <source_model>Webkul\MpEbaymagentoconnect\Model\Config\Source\CategoriesList</source_model>
                    <validate>required-entry</validate>
                    <comment>When ebay category not mapped with magento then product assign in this category</comment>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>eBay Imported Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                    <validate>required-entry</validate>
                    <comment>Set default order status for order which imported from eBay</comment>
                </field>
                <field id="pro_qty" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Default Product Quantity</label>
                    <validate>required-entry validate-zero-or-greater</validate>
                    <comment>Set default product quantity for product which imported to eBay if product quantity is zero on store</comment>
                </field>
            </group>
            <group id="shipping_options" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Default Shipping Detail</label>
                <field id="ship_service_priority" translate="label comment" sortOrder="1" type="text" showInDefault="1" >
                    <label>Shipping Service Priority</label>
                    <validate>required-entry validate-zero-or-greater</validate>
                </field>
                <field id="ship_service" translate="label comment" type="select" sortOrder="2" showInDefault="1" >
                    <label>Shipping Service</label>
                    <source_model>Webkul\MpEbaymagentoconnect\Model\Config\Source\AlleBayShipping</source_model>
                    <validate>required-entry</validate>
                    <comment>Magento product created on eBay With this Shipping Method</comment>
                </field>
                <field id="ship_service_cost" translate="label comment" type="text" sortOrder="3" showInDefault="1" >
                    <label>Shipping Service Cost</label>
                    <validate>required-entry validate-zero-or-greater</validate>
                    <comment>Shipping Amount that apply on product when sync with ebay</comment>
                </field>
                <field id="ship_service_additional_cost" translate="label comment" type="text" sortOrder="4" showInDefault="1" >
                    <label>Shipping Service Additional Cost</label>
                    <validate>required-entry validate-zero-or-greater</validate>
                    <comment>Additional Shipping Amount that apply on product when sync with ebay</comment>
                </field>
                <field id="ship_time_min" translate="label comment" type="text" sortOrder="5" showInDefault="1" >
                    <label>Shipping Time Min</label>
                    <validate>required-entry validate-zero-or-greater</validate>
                    <comment>Magento product created on eBay With this Shipping Method</comment>
                </field>
                <field id="ship_time_max" translate="label comment" type="text" sortOrder="6" showInDefault="1" >
                    <label>Shipping Time Max</label>
                    <validate>required-entry validate-zero-or-greater</validate>
                    <comment>Magento product created on eBay With this Shipping Method</comment>
                </field>
                <field id="ship_free" translate="label comment" type="select" sortOrder="7" showInDefault="1" >
                    <label>Shipping Fee</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <validate>required-entry validate-zero-or-greater</validate>
                    <comment>Magento product created on eBay With this Shipping Method</comment>
                </field>
            </group>
        </section>
    </system>
</config>
